@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn .25s ease-out;
}
