@import "tailwindcss";


/* Regular */
@font-face {
  font-family: 'General Sans';
  src: url('./assets/Fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'General Sans';
  src: url('./assets/Fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'General Sans';
  src: url('./assets/Fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL FONT */
@layer base {
  html {
    font-family: 'General Sans', system-ui, sans-serif;
  }
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-infinite {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite; /* Adjust speed here */
}